body{background-color: orange;}
h1{color: white;
    font-size: 50px}
*{
    margin:0;
}
body{
    font-family: 'Arial', sans-serif;
}

#slider{
    height: 500px;
    border:1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 1600px;
    margin: auto;
}

.subcontainer{
    width: 85%;
    margin:auto;
}

.slide-img{
    width: 250px;
    height: 250px;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.slide-img:hover{
    box-shadow: 0 0 0 200px rgba(0,0,0,0.9) inset;
}

.slide-img a{
    opacity:0;
    text-decoration: none;
    transform: scale(0);
    transition: 0.8s;
    font-size: 1.5rem;
    color:white;
}

.slide-img:hover a{
    opacity:1;
   transform: scale(1);
}

.img-1{
    background-image: url(http://www.lojaeletrica.com.br/images/product/47DE5150420154312_zo.jpg)
}
.img-2{
    background-image: url(https://a-static.mlcdn.com.br/618x463/disjuntor-din-bipolar-50-a-tramontina/wwwgorgulhocombr/35654/dad7e462a4917789be9e049bc4a5ac24.jpg)
}
.img-3{
    background-image: url(https://telhanorte.vteximg.com.br/arquivos/ids/325950-NaN-NaN/Interruptor-simples-e-tomada-distanciados-10A-com-placa-Habitat-Fame.jpg?v=636650997343630000)
}
.img-4{
    background-image: url(https://www.inspirehome.com.br/media/catalog/product/cache/6c29bd58154b9ef7ac5bf02eec8053fa/l/a/lampada-led-mini-bulbo-bolinha-e27-2400k-3w-bivolt---save-energy-se-225.1150.jpg)
}
.img-5{
    background-image: url(https://www.taqi.com.br/ccstore/v1/images/?source=/file/v4714035781524528138/products/041393.00-tubo-amanco-marrom-25mm-6-metros.jpg&height=500&width=500&quality=0.9)
}



@media(max-width:1600px){
    .container{
        width:100%;
    }
}